.App {
  background-color: white;
  text-align: center;
  font-size: 14px;
}

.gray {
  color: #5B5B5B;
}

.blue {
  color: #2F80ED;
}

.App-header {
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 16px 24px;
  clear: both;
}

.btn:active {
  transform: translateY(3px);
}

.icon-file-add {
  font-size: 18px;
  float: right;
}

.file-panel {
  margin: 32px;
}

.file-panel-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #ECECEC;
}

.file-panel-header>.title {
  font-weight: 500;
  text-align: left;
}

.file-panel-action {
  flex-shrink: 0;
  padding-right: 16px;
}

.file-panel-action>.caption {
  font-weight: 500;
  margin-right: 4px;
  color: #2E6DDE;
  font-size: 8px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.file-panel-body {
  display: block;
}

.file-panel-body.collapsed {
  display: none;
}

.file-panel-body>.placeholder {
  font-size: 8px;
  color: #9E9E9E;
  text-align: left;
}

.file-upload-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;
}

.file-upload-item>.file-main {
  display: flex;
  align-items: center;
}

.file-upload-item>.file-main>.file-icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.file-upload-item>.file-main>.file-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-upload-item>.file-main>.file-content>.title {
  font-size: 12px;
  font-weight: 500;
  color: #222222;
}

.file-upload-item>.file-main>.file-content>.size {
  font-size: 8px;
  font-weight: normal;
  color: #9E9E9E;
}

.file-upload-item>.file-action {
  display: flex;
  align-items: center;
}

.file-upload-item>.file-action>.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  font-size: 8px;
  color: #9E9E9E;
}

.file-upload-item>.file-action>.status>.progress {
  width: 20px;
  height: 20px;
}

.file-upload-item>.file-action>.status.success {
  margin-right: 16px;
  color: #00BC78;
}

.file-upload-item>.file-action>.status.failed {
  margin-right: 16px;
  color: #EB5757;
}

.file-upload-item>.file-main>.file-icon {
  color: #2E6DDE;
}

.file-upload-item>.file-main>.file-icon.pdf {
  color: #EB5757;
}

.file-upload-item>.file-main>.file-icon.archive {
  color: #FFD233;
}

.file-upload-item>.file-main>.file-icon.video {
  color: #FFD233;
}

.file-upload-item>.file-main>.file-icon.excel {
  color: #00BC78;
}

.file-upload-item>.file-main>.file-icon.image {
  color: #00BC78;
}